{% extends 'base.html' %}
{% block content %}
{% if form.errors %}
    <label style="font-family: Purisa">Please try again</label>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label style="font-family: Purisa">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label style="font-family: Purisa" for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control"
               name="password"
               id="exampleInputPassword1" placeholder="Password">
    </div>
    <button name="submit">LogIn</button>
    <input type="hidden" name="next" value="{% url 'users:table_users' %}">
</form>
{% endblock content %}
