{% extends "base.html" %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label style="font-family: Purisa">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label style="font-family: Purisa">Email</label>
        <input type="email" name="email" class="form-control" placeholder="example@example.com">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" style="font-family: Purisa">Password</label>
        <input type="password" class="form-control"
               name="password1"
               id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" style="font-family: Purisa">Password confirmation </label>
        <input type="password" class="form-control"
               name="password2"
               id="exampleInputPassword1" placeholder="Password confirmation">
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

{% endblock content %}